.card{
  margin-top: 20px;
  padding: 15px;
  
  border: 1px solid rgba(0, 0, 0, 0.301);
  border-top-left-radius: 6px;

  box-shadow: 1px 1px 0px 2px rgba(0,0,0, 0.75);

  width: 620px;


  .info-card{
    display: flex;
    // justify-content: space-between;

    .infos-card-title{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 70%;
      // height: 100%;

      h2{
        margin: 10px 0;
        font-size: 36px;
      }

    }

    img{
      width: 340px;

    }

  }

  .status-card{
    display: flex;

    border: 1px solid rgba(0, 0, 0, 0.301);
    border-top-left-radius: 6px;

    box-shadow: 1px 1px 0px 2px rgba(0,0,0, 0.75);

    padding: 20px 0;

    h3{
      width: 30%;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 36px;
      font-weight: 400;
      
    }


    .status-info{
      width: 60%;

      display: flex;
      align-items: end;

      flex-direction: column;
    }

  }


  .id{
    position: absolute;
    top: 150px;
    
    margin-left: 40px;
    font-size: 130px;

    color: #dfdfe3;

    z-index: -1;

    span {
      font-size: 230px;
    }
  }

}